*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(./blackkkkk.webp);
    background-position: bottom;
    background-repeat: repeat;
    background-size: auto;
    width: 100%;
    height: 100vh;
    display: flex;
    cursor: pointer;
    justify-content: center;
    margin-bottom: 200px;
    align-items: center;
}

h1{
    background-color: white;
    color: black;
    font-size: 30px;
    /* border-radius: 10px; */
}
.whole{
    background-color: rgb(129, 124, 124);
    border-radius: 20px;
    max-width: 400px;
    margin: 0;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
}
p{
    color: black;
    background-color: rgb(228, 144, 19);
}
.input-whole{
    margin-bottom: 20px;
    padding: 40px;
}
#result{
    font-weight: bolder;
    color: black
    
}
label{
    color: black;
}
input{
    padding: 10px;
    width: 15rem;
    border-radius: 10px;
}
button{
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color:  rgb(228, 144, 19);
}

@media screen and (max-width: 900px){
    .opp{
        flex-direction: column;
        margin-bottom: 100px;
    }
}
