*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.first{
    background: steelblue;
    width: 25%;
    height: 100vh;
    padding-left: 30px;
    color: white;    
}
.whole{
    margin-top: 35px;
}